*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgb(194, 157, 157),rgb(168, 65, 65));
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(217, 214, 214);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px lightgray;
  background-image:linear-gradient(rgb(194, 157, 157),rgb(65, 168, 163));
  
}
p{
  font-weight: 650;
  font-size: 16px;
  text-align: center;
}
#select{
  padding: 5px;
  color: black;
  font-weight: 600;
}
#range{
  width: 78px;
  text-align: center;
}
#attempt{
  width: 30px;
  text-align: center;
}
#inputbox{
  width: 30%;
  height: 30px;
  text-align: center;
  caret-color: red;
  font-weight: 600;
}
input{
  font-weight: 650;
  
}
button{
  padding: 8px 10px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;

}
button:hover{
  transform: scale(0.9);
}